*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    margin-top: 20px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
}

.box
{
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.img
{
    width: 100%;
    height: 50%;
    background-image: url('https://source.unsplash.com/300x300/?tech');
    /* background-size: 100% 50%; */
}

.content
{
    padding: 5px;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}